---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <head>
    <MainHead title="Not Found" />
  </head>
  <body>
    <Nav />
    <main>
      <div class="text-center animate-pulse">
        <div class="font-bold text-6xl">404</div>
        <div class="text-4xl font-light">Page not found</div>
      </div>
    </main>
    <Footer />
  </body>
</html>
