---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <MainHead
      title="Iven Beck: Personal Site"
      description="Iven Beck: Developer"
    />
  </head>
  <body>
    <Nav />
    <main>
      <div class="w-full h-full">
        <h1 class="text-center text-4xl">The personal website of</h1>
        <h1 class="font-bold text-center text-6xl">Iven Beck</h1>
      </div>
    </main>
    <Footer />
  </body>
</html>
