---
const currentYear = new Date().getFullYear();
---

<footer class="text-center py-1 text-sm bg-gray-800">
  <div>&copy;{currentYear} Iven Beck</div>
  <div>
    🚀 Built with <a
      href="https://astro.build/"
      target="_blank"
      rel="noopener noreferrer">Astro</a
    > hosted by <a
      href="https://vercel.com/"
      target="_blank"
      rel="noopener noreferrer">Vercel</a
    >
  </div>
</footer>
